body {
  border: 1px solid black;
}

button {
  /* Some hints from: https://moderncss.dev/css-button-styling-guide/ */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 4ch;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  pointer: pointer;
  min-width: 10ch;
  min-height: 1ch;
  text-align: center;
  line-height: 1.1;
  background-color: blue;
  color: white;
  transition: 220ms all ease-in-out;
  &:hover {
    background-color: yellow;
    color: black;
  }
  &:disabled {
    opacity: 0.6;
  }
}

.cardwindow {
  position: relative;
  border: 1px solid dodgerblue;
  background-color: deepskyblue;
  width: 100%;
  height: 95dvh;
}

.card {
  position: absolute;
  top: 0vw;
  left: 0vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 4%;
  height: 20vw;
  width: 15vw;
  padding: 0.75%;
  text-align: center;
  overflow: hidden;
}

.card-body {
  margin: auto;
  width: 100%;
  height: 100%;
}

.card-body-number {
  font-family: serif;
  font-size: 4vw;
  color: red;
}

.card-body-number-top {
  position: absolute;
  left: 0.5vw;
  top: 1vw;
}

.card-body-suite-top {
  position: absolute;
  left: 0.5vw;
  top: 5vw;
  font-size: 4vw;
}

.card-body-suite-bottom {
  position: absolute;
  right: 0.5vw;
  bottom: 5vw;
  font-size: 4vw;
}

.card-body-number-bottom {
  position: absolute;
  right: 0.5vw;
  bottom: 1vw;
}

.card-body-interior {
  position: absolute;
  left: 5vw;
  top: 4vw;
  right: 5vw;
  bottom: 4vw;
  border: 1px solid black;
  overflow: hidden;
  font-size: 9vw;
}
